*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
}
header{
    margin-bottom: 1rem;
}

nav{
    display: flex;
    justify-content: center;
    background-color: rgb(36, 149, 241);
    width: 100%;
}
.links{
    display: inline-block;
    text-decoration: none;
    padding: 1rem;
    font-size: 1.2vw;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: color  0.3s;
    color: black;
}

.links:hover{
    color: white;
}

section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tarjeta{
    text-align: center;
    border: 2px solid rgb(145, 144, 144);
    border-radius: .5rem;
    padding: .3rem;
    margin: 1rem;
    width: 15vw;
}

.tarjeta:hover{
    transform: scale(1.05);
}
.texto{
    padding: .5rem;
    font-size: 1.25vw;
}
img{
    width: 10vw;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}



